:root {
    /*

## custom-element material branded colors

| `cem-color` token | definition    | emotion intent         | semantic intent | sample  | angular material            |
|-------------------|---------------|------------------------|-----------------|---------|-----------------------------|
| `blue-xl`         | lightest blue | `comfort`, light scene | reading         | #faf9fd | --ng-azure-neutral-98       |
|                   |               |                        |                 |         | --mat-sys-surface           |
| `cyan-d`          | dark cyan     | dark scene             | reading         | #101414 | --ng-cyan-neutral-6         |
|                   |               |                        |                 |         | --mat-sys-surface           |
| `blue`            | blue          | trust                  | attention       | #005cbb | --ng-azure-40               |
|                   |               |                        |                 |         | --mat-sys-primary           |
| `red`             | red           | danger                 | alert           | #ba1a1a | --ng-error-40               |
|                   |               |                        |                 |         | --mat-sys-error             |
| `blue-l`          | light blue    | conservative           | brand-1         | #d7e3ff | --ng-azure-90               |
|                   |               |                        |                 |         | --mat-sys-primary-container |
| `cyan-l`          | light cyan    | creativity             | brand-2         | #adfffe | --ng-cyan-95                |
|                   |               |                        |                 |         | --mat-sys-primary-container |
| `orange-l`        | light orange  | enthusiasm             | brand-3         | #ffdcc7 | --ng-orange-90              |

     */
    --cem-color-blue-xl: #faf9fd; /* lightest blue | `comfort`, light scene | reading */
    --cem-color-cyan-d: #101414; /* dark cyan | dark scene | reading */
    --cem-color-blue: #005cbb; /* blue | trust | attention */
    --cem-color-red: #ba1a1a; /* red | danger | alert */
    --cem-color-blue-l: #d7e3ff; /* light blue | conservative | brand-1 */
    --cem-color-cyan-l: #adfffe; /* light cyan | creativity | brand-2 */
    --cem-color-orange-l: #ffdcc7; /* light orange | enthusiasm | brand-3 */

    /*
# Emotional Palette

| `palette-` token |                                                                    | warmth  | sample                  | system                     |
|------------------|--------------------------------------------------------------------|---------|-------------------------|----------------------------|
| `comfort`        | light scene color, the scene is full of object                     | cool    | white                   | Canvas                     |
|                  | Purity, innocence, cleanliness, peace,  coldness or emptiness      |         |                         |                            |
| `calm`           | dark scene color, few objects around                               | cool    | black                   | CanvasText                 |
|                  | Mystery, elegance, power, evil, mourning, formality, security      |         |                         |                            |
| `trust`          | primary action background, text color for `focus-invert`           | cool    | blue                    | Highlight w/ HighlightText |
| `danger`         | Passion, excitement, love, anger, energy, danger                   | warm    | red                     | N/A                        |
| `creativity`     | Luxury, creativity, royalty, mystery, but also grief or melancholy | cool    | cyan/purple             | ButtonFace w/ ButtonText   |
| `enthusiasm`     | Warmth, enthusiasm, happiness, optimism, energy                    | warm    | orange( yellow, pink)   | Mark w/ MarkText           |
| `conservative`   | Natural, earthy, conservative, but also bland or boring            | neutral | brown (tan/beige, grey) | GrayText                   |

    */

    .cem-theme-native,[data-theme="cem-theme-native"]{
        --cem-palette-comfort:      Canvas;         --cem-palette-comfort-text:         CanvasText;
        --cem-palette-calm:         CanvasText;     --cem-palette-calm-text:            Canvas;
        --cem-palette-trust:        Highlight;      --cem-palette-trust-text:           Canvas;
        --cem-palette-danger:       red;            --cem-palette-danger-text:          Canvas;
        --cem-palette-creativity:   ButtonFace;     --cem-palette-creativity-text:      CanvasText;
        --cem-palette-enthusiasm:   Mark;           --cem-palette-enthusiasm-text:      CanvasText;
        --cem-palette-conservative: GrayText;       --cem-palette-conservative-text:    Canvas;
    }

    .cem-theme-light, [data-theme="cem-theme-light"] {
        --cem-palette-comfort       : var(--cem-color-blue-xl , Canvas    ); --cem-palette-comfort-text:         var(--cem-color-cyan-d, CanvasText);
        --cem-palette-calm          : var(--cem-color-cyan-d  , CanvasText); --cem-palette-calm-text:            var(--cem-color-blue-xl, Canvas);
        --cem-palette-trust         : var(--cem-color-blue    , Highlight ); --cem-palette-trust-text:           var(--cem-color-blue-xl, Canvas);
        --cem-palette-danger        : var(--cem-color-red     , red       ); --cem-palette-danger-text:          var(--cem-color-blue-xl, Canvas);
        --cem-palette-creativity    : var(--cem-color-cyan-l  , ButtonFace); --cem-palette-creativity-text:      var(--cem-color-cyan-d, CanvasText);
        --cem-palette-enthusiasm    : var(--cem-color-blue-l  , Mark      ); --cem-palette-enthusiasm-text:      var(--cem-color-cyan-d, CanvasText);
        --cem-palette-conservative  : var(--cem-color-orange-l, GrayText  ); --cem-palette-conservative-text:    var(--cem-color-cyan-d, CanvasText);

        --cem-action-explicit-disabled-background    : color-mix(in srgb, var(--cem-palette-comfort) 70%, black); --cem-action-explicit-disabled-text   : var(--cem-palette-comfort-text    );
        --cem-action-primary-disabled-background     : var(--cem-palette-trust       ); --cem-action-primary-disabled-text    : var(--cem-palette-trust-text      );
        --cem-action-contextual-disabled-background  : var(--cem-palette-comfort     ); --cem-action-contextual-disabled-text : var(--cem-palette-comfort-text    );
        --cem-action-alternate-disabled-background   : var(--cem-palette-creativity  ); --cem-action-alternate-disabled-text  : var(--cem-palette-creativity-text );
        --cem-action-destructive-disabled-background : var(--cem-palette-danger      ); --cem-action-destructive-disabled-text: var(--cem-palette-danger-text     );

        --cem-action-explicit-readonly-background    : color-mix(in srgb, var(--cem-palette-comfort) 80%, black); --cem-action-explicit-readonly-text   : var(--cem-palette-comfort-text    );
        --cem-action-primary-readonly-background     : var(--cem-palette-trust       ); --cem-action-primary-readonly-text    : var(--cem-palette-trust-text      );
        --cem-action-contextual-readonly-background  : var(--cem-palette-comfort     ); --cem-action-contextual-readonly-text : var(--cem-palette-comfort-text    );
        --cem-action-alternate-readonly-background   : var(--cem-palette-creativity  ); --cem-action-alternate-readonly-text  : var(--cem-palette-creativity-text );
        --cem-action-destructive-readonly-background : var(--cem-palette-danger      ); --cem-action-destructive-readonly-text: var(--cem-palette-danger-text     );

        --cem-action-explicit-editable-background    : color-mix(in srgb, var(--cem-palette-comfort) 90%, black); --cem-action-explicit-editable-text   : var(--cem-palette-comfort-text    );
        --cem-action-primary-editable-background     : color-mix(in srgb, var(--cem-palette-trust  ) 90%, black); --cem-action-primary-editable-text    : var(--cem-palette-trust-text      );
        --cem-action-contextual-editable-background  : var(--cem-palette-comfort     ); --cem-action-contextual-editable-text : var(--cem-palette-comfort-text    );
        --cem-action-alternate-editable-background   : var(--cem-palette-creativity  ); --cem-action-alternate-editable-text  : var(--cem-palette-creativity-text );
        --cem-action-destructive-editable-background : var(--cem-palette-danger      ); --cem-action-destructive-editable-text: var(--cem-palette-danger-text     );

        --cem-action-explicit-required-background    : var(--cem-palette-comfort     ); --cem-action-explicit-required-text   : var(--cem-palette-comfort-text    );
        --cem-action-primary-required-background     : var(--cem-palette-trust       ); --cem-action-primary-required-text    : var(--cem-palette-trust-text      );
        --cem-action-contextual-required-background  : var(--cem-palette-comfort     ); --cem-action-contextual-required-text : var(--cem-palette-comfort-text    );
        --cem-action-alternate-required-background   : var(--cem-palette-creativity  ); --cem-action-alternate-required-text  : var(--cem-palette-creativity-text );
        --cem-action-destructive-required-background : var(--cem-palette-danger      ); --cem-action-destructive-required-text: var(--cem-palette-danger-text     );

        --cem-action-explicit-default-background    : var(--cem-palette-comfort     ); --cem-action-explicit-default-text   : var(--cem-palette-comfort-text    );
        --cem-action-primary-default-background     : var(--cem-palette-trust       ); --cem-action-primary-default-text    : var(--cem-palette-trust-text      );
        --cem-action-contextual-default-background  : var(--cem-palette-comfort     ); --cem-action-contextual-default-text : var(--cem-palette-comfort-text    );
        --cem-action-alternate-default-background   : var(--cem-palette-creativity  ); --cem-action-alternate-default-text  : var(--cem-palette-creativity-text );
        --cem-action-destructive-default-background : var(--cem-palette-danger      ); --cem-action-destructive-default-text: var(--cem-palette-danger-text     );

    }
    @media (prefers-color-scheme: light) {
        /* .cem-theme-light replica */
        --cem-palette-comfort       : var(--cem-color-blue-xl , Canvas      ); --cem-palette-comfort-text:         var(--cem-color-cyan-d, CanvasText);
        --cem-palette-calm          : var(--cem-color-cyan-d  , CanvasText  ); --cem-palette-calm-text:            var(--cem-color-blue-xl, Canvas   );
        --cem-palette-trust         : var(--cem-color-blue    , Highlight   ); --cem-palette-trust-text:           var(--cem-color-blue-xl, Canvas);
        --cem-palette-danger        : var(--cem-color-red     , red         ); --cem-palette-danger-text:          var(--cem-color-blue-xl, Canvas);
        --cem-palette-creativity    : var(--cem-color-cyan-l  , ButtonFace  ); --cem-palette-creativity-text:      var(--cem-color-cyan-d, CanvasText);
        --cem-palette-enthusiasm    : var(--cem-color-blue-l  , Mark        ); --cem-palette-enthusiasm-text:      var(--cem-color-cyan-d, CanvasText);
        --cem-palette-conservative  : var(--cem-color-orange-l, GrayText    ); --cem-palette-conservative-text:    var(--cem-color-cyan-d, CanvasText);
    }


    .cem-theme-dark, [data-theme="cem-theme-dark"]{
        --cem-palette-comfort       : var(--cem-color-cyan-d    , CanvasText    ); --cem-palette-comfort-text:         var(--cem-color-blue-xl, Canvas);
        --cem-palette-calm          : var(--cem-color-blue-xl   , Canvas        ); --cem-palette-calm-text:            var(--cem-color-cyan-d,CanvasText);
        --cem-palette-trust         : var(--cem-color-blue      , Highlight     ); --cem-palette-trust-text:           var(--cem-color-blue-xl, Canvas);
        --cem-palette-danger        : var(--cem-color-red       , red           ); --cem-palette-danger-text:          var(--cem-color-blue-xl, Canvas);
        --cem-palette-creativity    : var(--cem-color-cyan-l    , ButtonFace    ); --cem-palette-creativity-text:      var(--cem-color-cyan-d, CanvasText);
        --cem-palette-enthusiasm    : var(--cem-color-blue-l    , Mark          ); --cem-palette-enthusiasm-text:      var(--cem-color-cyan-d, CanvasText);
        --cem-palette-conservative  : var(--cem-color-orange-l  , GrayText      ); --cem-palette-conservative-text:    var(--cem-color-cyan-d, CanvasText);
    }
    @media (prefers-color-scheme: dark) {
        /* .cem-theme-dark replica */
        --cem-palette-comfort       : var(--cem-color-cyan-d    , CanvasText    ); --cem-palette-comfort-text:         var(--cem-color-blue-xl, Canvas);
        --cem-palette-calm          : var(--cem-color-blue-xl   , Canvas        ); --cem-palette-calm-text:            var(--cem-color-cyan-d,CanvasText);
        --cem-palette-trust         : var(--cem-color-blue      , Highlight     ); --cem-palette-trust-text:           var(--cem-color-blue-xl, Canvas);
        --cem-palette-danger        : var(--cem-color-red       , red           ); --cem-palette-danger-text:          var(--cem-color-blue-xl, Canvas);
        --cem-palette-creativity    : var(--cem-color-cyan-l    , ButtonFace    ); --cem-palette-creativity-text:      var(--cem-color-cyan-d, CanvasText);
        --cem-palette-enthusiasm    : var(--cem-color-blue-l    , Mark          ); --cem-palette-enthusiasm-text:      var(--cem-color-cyan-d, CanvasText);
        --cem-palette-conservative  : var(--cem-color-orange-l  , GrayText      ); --cem-palette-conservative-text:    var(--cem-color-cyan-d, CanvasText);
    }

/** # dimensions

*/

/**
bend - corner shape, radius
* smooth    - slightly rounded, default
* round     - circular side
* sharp     - square edge
*/
    --cem-bend-smooth: 0.5rem;
    --cem-bend-round: 50cqh;
    --cem-bend-sharp: 0;

    --cem-bend: var(--cem-bend-smooth);
    .cem-bend-smooth{ --cem-bend: var(--cem-bend-smooth); }
    .cem-bend-round{ --cem-bend: var(--cem-bend-round); }
    .cem-bend-sharp{ --cem-bend: var(--cem-bend-sharp); }


    .action, button, input[type="submit"], input[type="reset"], input[type="button"] { /* default light */
        --cem-action-background-color: var(--cem-palette-calm);
        --cem-action-color: var(--cem-palette-comfort);
        --cem-action-border-radius: var(--cem-bend);
        --cem-action-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, .2), 0px 1px 1px 0px rgba(0, 0, 0, .14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
        --cem-action-box-shadow-hover: 0px 3px 3px -2px rgba(0, 0, 0, .2), 0px 3px 4px 0px rgba(0, 0, 0, .14), 0px 1px 8px 0px rgba(0, 0, 0, .12);
        --cem-action-transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
        --cem-action-box-padding: 1em;

        background-color: var(--cem-action-background-color);
        color: var(--cem-action-color);
        border: none;
        border-radius: var(--cem-action-border-radius);
        box-shadow: var(--cem-action-box-shadow);
        padding: var(--cem-action-box-padding);


        &:hover,&.hover{
            --cem-action-box-shadow: var(--cem-action-box-shadow-hover);
        }
        &[pending],&.pending{

        }
        /* flow */
        .primary, [flow="primary"] {
            --cem-action-background-color: var(--cem-palette-trust);
            --cem-action-text-color: var(--cem-palette-trust-text);

            [disabled] {
            }

            [selected] {
            }
        }

    }

}
