@keyframes cem-slide-x {
    from {
        background-position-x: 0%;
    }
    to {
        background-position-x: 100%;
    }
}
:root {
    --cem-animation-speed: 3s; /* animation has 2 phases 1.5s each */

}
